// variables scss

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-family: "Roboto", sans-serif;
$primary-color: #333;
$secondary-color: #fafafa;

// reset scss 

* {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: 25px;
    background-color: $secondary-color;
    color: $primary-color;
}

body {
    display: grid;
    grid-template-areas:
        "section section section section"
        "article article article article"
        "figure figure figure figure"
        "aside aside aside aside"
        "footer footer footer footer"
        ;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    width: 100%;
}

// header scss

header {
    display: none;
    grid-area: header;
    background-color: red;
}

// nav scss

nav {
    display: none;
    grid-area: nav;
    background-color: orange;
}

// section scss 

section {
    grid-area: section;
    background-color: yellow;
    color: black;

    .section__containers {
        
        .section__heading--name {
            font-size: 50px;
        }

        .section__heading--role {
            font-size: 200px;
            font-weight: bolder;
        }

        .section__img {
            display: none;
        }
    }
}


// artile scss

article {
    grid-area: article;
    background-color: lightgreen;

    .article__containers {

        .article__heading {
            font-size: 90px;
            font-weight: bolder;
            display: flex;
            justify-content: center;
        }

        .article__img {
            width: 85%; 
            margin-left: 80px;
        }

        .article__paragraph {
            width: 1000px;
            margin-bottom: 20px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.8;
            font-size: 50px;
        }

    }
}

// figure scss

figure {
    grid-area: figure;
    background-color: green;

    .figure__containers {
        display: flex;
        justify-content: center;

        .figure__heading {
            font-size: 90px;
            font-weight: bolder;
        }

        .figure__paragraph {
            text-align: center;
            line-height: 1.8;
            font-size: 40px;
            margin: 0 80px 0 80px;
        }
    }

    .figure__imgcontainer {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        justify-content: space-evenly;
        width: 100%;
    
        .figure__img {
        width: calc(26.33% - 10px);
        height: auto;
        }
    }    
}

// aside scss

aside {
    grid-area: aside;
    background-color: lightblue;
}

// footer scss

footer {
    grid-area: footer;
    background-color: blue;
}

// media queries - laptop

@media screen and (min-width: 1024px){
    body {
        display: grid;
        grid-template-areas:
            "header header header header"
            "nav nav nav nav"
            "section section section section"
            "article article article article"
            "figure firgure figure figure"
            "aside aside aside aside"
            "footer footer footer footer"
        ;
        gap: 10px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 100vh;
        width: 100%;
    }
}