// reset scss 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        "header header header header"

        "nav nav nav nav"
        "section section section section"
        "article article article article"
        "figure firgure figure figure"
        "aside aside aside aside"

        "footer footer footer footer"
    ;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}

// variables scss

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-family: "Roboto", sans-serif;
$primary-color: #333;
$secondary-color: #fafafa;

// header scss

header {
    grid-area: header;
    background-color: red;
}

// nav scss


nav {
    grid-area: nav;
    background-color: orange;
}

// section scss 

section {
    grid-area: section;
    background-color: yellow;
}


// artile scss

article {
    grid-area: article;
    background-color: lightgreen
}

// figure scss

figure {
    grid-area: figure;
    background-color: green;
}

// aside scss

aside {
    grid-area: aside;
    background-color: lightblue;
}

// footer scss

footer {
    grid-area: footer;
    background-color: blue;
}